<h1>New cart_row</h1>

<% form_for(@cart_row) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

&larr; <%= link_to t('Back'), cart_rows_path %>