<h1><%= t('statistics') %></h1>
<p>Några idéer på saker att visa här:</p>
<ul>
  <li>Hur mycket är summan av allt vi köpt/registrerat in i systemet?</li>
  <li>Hur mycket har vi sålt för?</li>
  <li>Hur mycket till måste vi sälja med för att nå break-even (plus-minus-noll)?</li>
  <li>Hur mycket plus går vi om vi säljer allt vi har lagt in i systemet?</li>
</ul>
<p>Kom JÄTTEGÄRNA med fler idéer om vad vi behöver veta för statistik.</p>