html, body{
    margin: 0;
    padding: 0;
}

body{
    background: #0B0B0B url('/images/bg_body.jpg') repeat-x;
    color: #eee;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
/*    -webkit-text-stroke: 0.5px transparent;*/
    text-shadow: 0.1em 0.1em 0.1em #000;
}

a:link{
    color: lightblue;
}

a:visited{
    color: #fcf;
}

a:hover{
    color: #66f;
}

input, textarea, select, option{
    background: #111;
    color: #fff;
    font-size: 1em;
    padding: 0.5em;
}

input:hover, textarea:hover, select:hover{
    border-color: #99f;
}

input:focus, textarea:focus, select:focus{
    border-color: yellow;
}

input[type=submit]{
    -webkit-border-radius: 0.5em;
    background: #009;
    border-color: #00f;
    text-shadow: 0.1em 0.1em 0px #003;
}

input[type=submit]:hover{
    background: #00f;
    border-color: #fff;
}

table td.money, table th.money{
    text-align: right !important;
}
table td.quantity, table th.quantity{
    text-align: right !important;
}
table td.date, table th.date{
    text-align: right !important;
}
table tr.odd{
    background: #272727;
}
table tr.even{
    background: #222;
}

.flash{
    display: block;
    line-height: 2em;
}

.flash#notice{
    color: green;
}
.flash#error{
    color: red;
}

#container{
    margin: 0 auto;
    width: 960px;
}

#logo{
    float: right;
    margin-top: 1em;
}

#logo a{
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 6px #ccc;
}

#menu{
    list-style-type: none;
    margin: 0;
    margin-top: 1em;
    margin-bottom: -1px;
    overflow: auto;
    padding: 0;
    width: 100%;
}

#menu li{
    display: inline;
    float: left;
    margin-right: 0.5em;
}

#menu li a{
    background: #1b1b1b;
    border: 1px solid #2a2a2a;
    border-bottom-color: #333;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

#menu li a.current{
    background: #222;
    border: 1px solid #333;
    border-bottom-color: #222;
}

#warehouse_menu{
    background: #222;
    border: 1px solid #333;
    list-style-type: none;
    margin: 0;
    margin-bottom: -1px;
    overflow: auto;
    padding: 0;
}
#warehouse_menu li{
    display: inline;
    float: left;
}
#warehouse_menu li a{
    color: #ccc;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
}
#warehouse_menu li a:hover{
    background: #222;
    color: #fff;
}
#warehouse_menu li a.current{
    background: #333;
}
#warehouse_menu li a.current:hover{
    background: #333;
}
#page{
    background: #222;
    border: 1px solid #333;
    overflow: auto;
    padding: 3%;
    padding-top: 1%;
}

table.index_table{
    border-spacing: 0;
    width: 100%;
}
table.index_table td, table.index_table th{
    padding: 0.4em;
}
table.index_table th{
    border-bottom: 1px solid #ccc;
    text-align: left;
    vertical-align: bottom;
}
table.index_table td{
}

table.index_table td.destroy{
    font-size: 0.9em;
    line-height: 1.5em;
    width: 1.5em;
}
table.index_table td.destroy a{
    display: block;
    text-align: center;
}
table.index_table td.destroy a:hover{
    background: red;
    color: white;
    text-decoration: none;
}

table#cart_table{
    border-spacing: 0;
    width: 100%;
}
table#cart_table th, table#cart_table td{
    padding: 0.4em;
}
table#cart_table th{
    text-align: left;
}
table#cart_table tr.headers th{
    border-bottom: 1px solid #666;
}
table#cart_table tr.sum th, table#cart_table tr.sum td{
    border-top: 1px solid #666;
    font-size: 150%;
    padding: 0.2em;
}
table td.destroy{
    width: 1.5em;
}
table td.destroy a{
    color: #800;
    display: block;
    font-size: 0.9em;
    line-height: 1.5em;
    text-align: center;
    text-decoration: none;
}
table td.destroy a:hover{
    background: red;
    color: black;
    text-decoration: none;
}

#sales_products{
    float: left;
    overflow: auto;
    width: 55%;
}

#sales_products #product_types{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sales_products #product_types li{
    float: left;
}

#sales_products #product_types li a{
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    background: #060;
    border: 2px outset #090;
    color: #fff;
    display: block;
    height: 7em;
    margin-bottom: 1em;
    margin-right: 1em;
    text-align: center;
    text-decoration: none;
    width: 9em;
}

#sales_products #product_types li.not_in_stock a{
    /* Make them red: */
    /*
    background: #600;
    border-color: #900;
    */
    /* Or, make them gray: */
    background: #111;
    border-color: #111;
    border-style: solid;
    color: #333;
}

#sales_products #product_types li a:hover{
    border-color: #fff;
}

#sales_products #product_types li.not_in_stock a:hover{
    border-color: #111;
    cursor: default;
}

#sales_products #product_types li a span.name{
    display: block;
    font-weight: bold;
    margin-top: 1em;
    text-shadow: 1px 1px 1px #030;
}

#sales_products #product_types li.not_in_stock a span.name{
    text-shadow: none;
}

#sales_products #product_types li a span.quantity_in_stock{
    color: lightgreen;
    display: block;
    font-size: 90%;
    margin-top: 0.5em;
}
#sales_products #product_types li.not_in_stock a span.quantity_in_stock{
    color: #600;
}
#sales_products #product_types li a span.standard_price{
    display: block;
    font-size: 90%;
    margin-top: 0.5em;
}

#sales_cart{
    float: right;
    width: 45%;
}

#product_type_price_table th{
    text-align: left;
}

table#statistics_table{
    border-spacing: 0;
}
table#statistics_table th, table#statistics_table td{
    padding: 0.4em;
}

#footer{
    font-size: 80%;
    text-align: center;
}

#footer_menu{
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}
#footer_menu li{
    display: inline;
    margin-right: 1em;
}
#footer_menu li a{
    color: #444;
}