html, body{
    background: #0B0B0B;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    background: url('/images/bg_body.jpg') repeat-x;
    color: #eee;
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
/*    -webkit-text-stroke: 0.5px transparent;*/
    text-shadow: 0.07em 0.07em 0.07em #000;
    letter-spacing: -0.1em;
}

a{
    color: #fff;
}

/*
a:link{
    color: lightblue;
}

a:visited{
    color: #fcf;
}
*/

a:hover{
    color: #66f;
}

input, textarea, select, option{
    -webkit-border-radius: 0.7em;
    background: #111;
    border: 2px inset #333;
    color: #fff;
    font-size: 1em;
    padding: 0.5em;
}

input:hover, textarea:hover, select:hover{
    border-color: #99f;
}

input:focus, textarea:focus, select:focus{
    border-color: yellow;
}

input[type=submit]{
    -webkit-border-radius: 0.7em;
    background: #009;
    border-color: #00f;
    padding: 0.5em 1em;
    text-shadow: 0.1em 0.1em 0px #003;
}

input[type=submit]:hover{
    background: #00f;
    border-color: #fff;
}

input:-webkit-autofill{
    color: #000;
}

form .explanation{
    color: #cc6;
    font-size: 85%;
    margin: 2em 0 2em 13em;
}

form ol, 
form ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form ol li, 
form ul li{
    margin-bottom: 1em;
}

form ol li label,
form ul li label{
    display: block;
    float: left;
    margin-right: 1em;
    line-height: 2.6em;
    text-align: right;
    width: 10em;
}

input[type=text], 
input[type=password], 
textarea{
    width: 20em;
}

form ol li input[type=button], 
form ol li input[type=submit],
form ul li input[type=button], 
form ul li input[type=submit]{
    margin-left: 11em;
}

table tr.odd{
    background: #272727;
}
table tr.even{
    background: #222;
}
table td.money, 
table th.money{
    text-align: right !important;
}
table .money.negative{
    color: #f66;
}
table .money.positive{
    color: #6f6;
}
table td.quantity, table th.quantity{
    text-align: right !important;
}
table td.date, table th.date{
    text-align: right !important;
}
table td.destroy{
    width: 1.5em;
}
table td.destroy a{
    color: #800;
    display: block;
    font-size: 0.9em;
    height: 100%;
    margin: 1px;
    text-align: center;
    text-decoration: none;
}
table td.destroy a:hover{
    background: #600;
    border: 1px outset #600;
    color: white;
    margin: 0;
    text-decoration: none;
}
table.index_table td.edit{
    text-align: right;
    width: 2em;
}

.flash{
    background: #111;
    border: 2px inset #333;
    display: block;
    line-height: 2em;
    margin-top: 1em;
    padding: 0.2em 1em;
}

.flash#notice{
    background: #060;
    color: white;
}
.flash#error{
    background: #600;
    color: white;
}
.flash#warning{
    background: #880;
    color: white;
}
.flash#message{
    background: #666;
    color: white;
}
.flash a.hide{
    color: #ccc;
    float: right;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul{
    margin: 1em;
    padding: 0 1em;
}

#errorExplanation ul li {
  color: #333;
  font-size: 12px;
  list-style: square;
}

#container{
    margin: 0 auto;
    padding-top: 2em;
    width: 960px;
}

#logo{
    float: right;
    margin: 0;
    padding: 0;
}

#logo a{
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 6px #ccc;
}

#menu{
    list-style-type: none;
    margin: 0;
    margin-bottom: -1px;
    overflow: auto;
    padding: 0;
}

#menu li{
    display: inline;
    float: left;
    margin-right: 0.5em;
}

#menu li a{
    -webkit-border-top-left-radius: 0.7em;
    background: #1b1b1b;
    border: 1px solid #2a2a2a;
    border-bottom-color: #333;
    color: #ccc;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}

#menu li a:hover{
    background: #1d1d1d;
    color: #fff;
}

#menu li a.current{
    background: #222 /*#1e1e1e*/;
    border: 1px solid #333;
    border-bottom-color: #222;
}

#warehouse_menu{
    background: #1e1e1e;
    border: 1px solid #333;
    border-bottom: none;
    list-style-type: none;
    margin: 0;
    margin-bottom: -1px;
    overflow: auto;
    padding: 0;
}
#warehouse_menu li{
    display: inline;
    float: left;
}
#warehouse_menu li a{
    border: 1px solid #1e1e1e;
    border-top: none;
    border-bottom: 1px solid #333;
    color: #ccc;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
}
#warehouse_menu li a:hover{
    background: #222;
    color: #fff;
}
#warehouse_menu li a.current{
    background: #222;
    border-color: #333;
    border-bottom-color: #222;
}
#warehouse_menu li a.current:hover{
    background: #222;
}
#page{
    -webkit-border-radius: 0.7em;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    background: #222;
    border: 1px solid #333;
    clear: both;
    overflow: auto;
    padding: 3%;
    padding-top: 1%;
}

table.index_table{
    border-spacing: 0;
    width: 100%;
}
table.index_table td, table.index_table th{
    padding: 0.5em;
}
table.index_table th{
    border-bottom: 1px solid #ccc;
    text-align: left;
    vertical-align: bottom;
}
table.index_table td{
}
table#cart_table{
    border-spacing: 0;
    width: 100%;
}
table#cart_table th, table#cart_table td{
    padding: 0.4em;
}
table#cart_table th{
    text-align: left;
}
table#cart_table tr.headers th{
    border-bottom: 1px solid #666;
}
table#cart_table tr.sum th, table#cart_table tr.sum td{
    border-top: 1px solid #666;
    font-size: 150%;
    padding: 0.2em;
}
table#cart_table span.times{
    color: #444;
    margin: 0 0.4em;
}

ol#welcome_list li{
    font-size: 130%;
    letter-spacing: 1px;
    margin: 2em 0 1em 0;
}

#sales_products{
    border-right: 1px solid #333;
    float: left;
    overflow: auto;
    width: 55%;
}

#sales_products #product_types{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sales_products #product_types li{
    float: left;
}

#sales_products #product_types li .product_type_button{
    -moz-border-radius: 0.7em;
    -webkit-border-radius: 0.7em;
    background: #060;
    border: 2px outset #090;
    color: #fff;
    display: block;
    height: 7em;
    margin-bottom: 1em;
    margin-right: 1em;
    text-align: center;
    text-decoration: none;
    width: 9em;
}

#sales_products #product_types li.not_in_stock .product_type_button{
    /* Make them red: */
    /*
    background: #600;
    border-color: #900;
    */
    /* Or, make them gray: */
    background: #111;
    border-color: #111;
    border-style: solid;
    color: #333;
}

#sales_products #product_types li a:hover{
    border-color: #fff;
}

#sales_products #product_types li.not_in_stock a:hover{
    border-color: #111;
    cursor: default;
}

#sales_products #product_types li .product_type_button span.name{
    display: block;
    font-weight: bold;
    margin-top: 1em;
    text-shadow: 1px 1px 1px #030;
}

#sales_products #product_types li.not_in_stock .product_type_button span.name{
    text-shadow: none;
}

#sales_products #product_types li .product_type_button span.quantity_in_stock{
    color: lightgreen;
    display: block;
    font-size: 90%;
    margin-top: 0.5em;
}
#sales_products #product_types li.not_in_stock .product_type_button span.quantity_in_stock{
    color: #600;
}
#sales_products #product_types li .product_type_button span.standard_price{
    display: block;
    font-size: 90%;
    margin-top: 0.5em;
}

#price_selector{
    float: right;
    margin: 2em 2em 0 0;
}

#price_selector form#price_swapping_form{
    
}

#price_swapping_form input[type=radio]{
    cursor: pointer;
    margin-left: 1em;
}

#price_swapping_form label{
    cursor: pointer;
}

#price_swapping_form input[type=submit]{
    display: none;
}

#sales_cart{
    float: right;
    width: 43%;
}

#sales_cart input[type=submit]{
    float: right;
}

#product_type_price_table th{
    text-align: left;
}

table.statistics_table{
    border-spacing: 0;
    font-size: 110%;
    line-height: 2em;
    margin: 0 2%;
    margin-bottom: 3em;
    width: 96%;
}
table.statistics_table th, table.statistics_table td{
    padding: 0.6em 1.2em;
}
table.statistics_table tr.sum th, table.statistics_table tr.sum td{
    border-top: 1px solid #666;
}

.statistics_chart img{
    background: #1c1c1c;
    border: 0.2em inset #333;
    display: block;
    margin: 2em auto;
    padding-bottom: 20px;
    padding-left: 20px;
}

#footer{
    color: #999;
    font-size: 80%;
    text-align: center;
}

#footer a{
    color: #ccc;
}

#footer a:hover{
    color: #fff;
}

#footer_menu{
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}
#footer_menu li{
    display: inline;
    margin-right: 1em;
}
#footer_menu li a{
    color: #444;
}