html, body{
    margin: 0;
    padding: 0;
}

body{
    background: #000;
    color: #eee;
    font-family: sans-serif;
}

a:link{
    color: lightblue;
}

a:visited{
    color: #fcf;
}

input, textarea{
    background: #111;
    color: #fff;
    font-size: 1em;
}

table td.money, table th.money{
    text-align: right;
}
table td.quantity, table th.quantity{
    text-align: right;
}

.flash{
    display: block;
    line-height: 2em;
}

.flash#notice{
    color: green;
}
.flash#error{
    color: red;
}

#container{
    margin: 0 auto;
    width: 960px;
}

#logo{
    float: right;
    margin-top: -0.2em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

#menu{
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}

#menu li{
    display: inline;
    margin-right: 1em;
}

#sub_menu{
    margin: 0;
    margin-bottom: 1em;
    list-style-type: none;
    padding: 0;
}
#sub_menu li{
    display: inline;
    margin-right: 1em;
}
#sub_menu li a{
}

#page{
    background: #222;
    border: 1px solid #333;
    overflow: auto;
    padding: 3%;
    padding-top: 1%;
}

table.index_table{
    border-spacing: 0;
    width: 100%;
}
table.index_table td, table.index_table th{
    padding: 0.4em;
}
table.index_table th{
    border-bottom: 1px solid #ccc;
    text-align: left;
    vertical-align: bottom;
}
table.index_table td{
}
table.index_table tr.odd{
    background: #272727;
}
table.index_table tr.even{
    background: #222;
}

#sales_products_box{
    overflow: auto;
}

#sales_products_box #product_types{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sales_products_box #product_types li{
    float: left;
}

#sales_products_box #product_types li a{
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    background: green;
    border: 1px solid #222;
    color: #fff;
    display: block;
    height: 7em;
    margin-bottom: 1em;
    margin-right: 1em;
    text-align: center;
    text-decoration: none;
    width: 9em;
}

#sales_products_box #product_types li.not_in_stock a{
    background: #600;
}

#sales_products_box #product_types li a:hover{
    border-color: #fff;
}

#sales_products_box #product_types li a span.name{
    display: block;
    font-weight: bold;
    margin-top: 1em;
}
#sales_products_box #product_types li a span.quantity_in_stock{
    color: #fff;
    display: block;
    font-size: 90%;
    margin-top: 0.5em;
}
#sales_products_box #product_types li.not_in_stock a span.quantity_in_stock{
    color: red;
}
#sales_products_box #product_types li a span.standard_price{
    display: block;
    font-size: 90%;
    margin-top: 0.5em;
}

#product_type_price_table th{
    text-align: left;
}

#footer{
    font-size: 80%;
    text-align: center;
}

#footer_menu{
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}
#footer_menu li{
    display: inline;
    margin-right: 1em;
}
#footer_menu li a{
    color: #333;
}