<table class="index_table">
  <tr>
    <th><%= User.human_attribute_name('login') %></th>
    <th><%= t('Sold for') %></th>
  </tr>
<% for user in @users %>
  <tr>
    <td><%= link_to user.login, user %></td>
    <td><%= number_to_currency user.sold_for %></td>
  </tr>
<% end %>
</table>