<h1><%= @user.login %></h1>

<% unless @user.purchases.nil? %>

<h3>Har sålt för <%= number_to_currency @user.sold_for %></h3>

<ul>
<% for purchase in @user.purchases %>
  <li><%= link_to "#{t('purchase')} #{purchase.id}", purchase %></li>
<% end %>
</ul>
  
<% end %>