<h1>New purchase</h1>

<% form_for(@purchase) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => { :f => f } %> 

  <p>
    <%= f.submit t('Create') %>
  </p>
<% end %>

&larr; <%= link_to t('Back'), purchases_path %>