<p>
  <%= f.label :product_type_id, t('Product Type')+':' %><br/>
  <%= f.collection_select :product_type_id, ProductType.all(:include => :children), :id, :name %>
  <%# TODO: Only allow the user to select actual products for delivery, not special/grouped/combo products. %>
</p>
<p>
  <%= f.label :quantity, t('Quantity')+':' %><br/>
  <%= f.text_field :quantity %>
</p>