<h1>New delivery</h1>

<% form_for(@delivery) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => { :f => f } %> 

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

&larr; <%= link_to t('Back'), deliveries_path %>