<p>
  <b>Product type:</b>
  <%= link_to h(@product.product_type.name), @product.product_type %>
</p>


&larr; <%= link_to t('Back'), products_path %> <%= t('or') %>
<%= link_to t('Edit'), edit_product_path(@product) %>