<li class="<%= "not_in_stock"  unless product_type.in_stock? %>">
    <% if product_type.in_stock? %>
      <% link_to url_for(:controller => 'cart_rows', :action => 'create', 'cart_row[cart_id]' => @cart.id, 'cart_row[product_type_id]' => product_type.id, 'cart_row[quantity]' => 1), {:method => :post, :class => 'product_type_button'} do %>
        <%= render :partial => 'product_type_button_content', :locals => { :product_type => product_type } %>
      <% end %>
    <% else %>
      <div class="product_type_button" id="product_type_button_<%= product_type.id %>">
        <%= render :partial => 'product_type_button_content', :locals => { :product_type => product_type } %>
      </div>
    <% end %>
</li>