<ul id="warehouse_menu">
    <li><%= link_to t('product_types.titles.index'), product_types_url %></li>
    <li><%= link_to t('product_types.new'), new_product_type_url %></li>
    <li><%= link_to t('deliveries'), deliveries_url %></li>
    <li><%= link_to "#{t('New')} #{t('delivery')}", new_delivery_url %></li>
</ul>